@{
    ViewBag.Title = "ListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListView</h2>
@using (Html.BeginForm("AddItem", "Home"))
{
    <input type="image" src="~/Images/AddItem.png" alt="Submit" class="MenuImg"/>
}
