<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smartfridgeweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smartfridgeweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartFridgeWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmartFridgeWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartFridge_WebDAL.Context.SFContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:lca9fhfi8z.database.windows.net,1433;Initial Catalog=SmartFridgeDb;Integrated Security=False;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SmartFridge_WebDAL.Context.SFContext, SmartFridge_WebDAL" MigrationConfiguration="SmartFridge_WebDAL.Migrations.Configuration, SmartFridge_WebDAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartFridgeDb" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:lca9fhfi8z.database.windows.net,1433;Initial Catalog=SmartFridgeDb;Integrated Security=False;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lca9fhfi8z.database.windows.net,1433;Initial Catalog=SmartFridgeDb;Integrated Security=False;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartFridgeDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:lca9fhfi8z.database.windows.net,1433;Database=SmartFridgeDb;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartFridgeDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lca9fhfi8z.database.windows.net,1433;Initial Catalog=SmartFridgeDb;Integrated Security=False;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartFridge_WebDAL.Context.SFContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lca9fhfi8z.database.windows.net,1433;Initial Catalog=SmartFridgeDb;Integrated Security=False;User ID=SmartFridgeDb@lca9fhfi8z;Password=Prj4Gruppe5;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SmartFridge_WebDAL.Context.SFContext" />
  </ItemGroup>
</Project>