<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SmartFridgeConn"
        connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=SmartFridge-SSDT;Integrated Security=True;Pooling=False;Connect Timeout=30"
        providerName="System.Data.SqlClient"></add>
    <add name="SmartFridgeConn2"
        connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=SmartFridge-SSDT2;Integrated Security=True;Pooling=False;Connect Timeout=30"
        providerName="System.Data.SqlClient"></add>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>