<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SmartFridgeConn"
        connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=SmartFridge-SSDT;Integrated Security=True;Pooling=False;Connect Timeout=30"
        providerName="System.Data.SqlClient"></add>
    <add name="Test"
        connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Invalid;Integrated Security=True;Pooling=False;Connect Timeout=30"
        providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>