@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="NewItem">
    <label>VareType</label>
    <br />
    <input type="text" name="Varetype" />
    <select></select>
    <br />
    <label>Antal</label>
    <br />
    <input type="text" name="Antal" />
    <table>
        <tr><td><button>+</button></td></tr>
        <tr><td><button>-</button></td></tr>
    </table>
    <br />
    <label>Volumen</label>
    <br />
    <input type="text" name="Volume" />
    <input type="text" name="Unit" />
    <br />
    @using (Html.BeginForm("ListView", "LisView"))
    {
        <input type="image" src="~/Images/OK.png" alt="Submit" class="AddImg"/>
        //SKAL OGSÅ GØRE NOGET MERE!
    }
    @using (Html.BeginForm("ListView", "LisView"))
    {
        <input type="image" src="~/Images/Cancel.png" alt="Submit" class="AddImg" />
    }

</div>

