@using System.Diagnostics
@model IEnumerable<SmartFridge_WebApplication.Models.GUIItem>
@{
    ViewBag.Title = "ListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, defaultSort: "null");
}

<h2>ListView</h2>
@using (Html.BeginForm("AddItem", "AddItem"))
{
    <input type="image" src="~/Images/AddItem.png" alt="Submit" class="MenuImg" />
}

@using (Html.BeginForm("EditItem", "EditItem"))
{
    <input type="image" src="~/Images/Edit.png" alt="Submit" class="MenuImg" />
}


<div id="grid">
    @grid.GetHtml(columns: grid.Columns(
            grid.Column("Amount", "Amount", canSort: true, style: "column"),
            grid.Column("ShelfLife", "ShelfLife", canSort: true, style: "column"),
            grid.Column("Size", "Size", canSort: true, style: "column"),
            grid.Column("Type", "Type", canSort: true, style: "column"),
            grid.Column("Unit", "Unit", canSort: true, style: "column")
    ))
</div>